{% extends "layout.html" %}
{% block body %}
<div class='notice'>
    This student project for the CS101 Course at <a href="http://udacity.com">Udacity</a> allows you to search a subset of the Foodnetwork.com website for recipes containing the ingredients you specify.  When you enter a series of ingredients, separated by spaces, the search engine will return recipes containing all of your ingredients.
</div>
    <form action="{{ url_for('lookup') }}" method=post class=lookup>
      <dl>
        <dt>Ingredients:
        <dd><input type=text size=30 name=query>
        <dd><input type=submit value=Search>
      </dl>
    </form>
{% endblock %}